{
  "presets": ["es2015-node6", "react", "stage-0"],
  "plugins": [
    [
      "babel-plugin-webpack-loaders",
      {
        "config": "./webpack.ms.config.js",
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
