<!doctype html>
<html class='no-js' lang='en'>
    <head>
        <title>{{title}}</title>
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
        <!-- assets-head -->
        <meta content="{{title}}" property="og:title"/>
        <meta content="{{desc}}" property="og:description"/>
        <meta content="{{url}}" property="og:url"/>
        <meta content="{{thumb}}" property="og:image"/>
        <meta property="og:locale" content="{{locale}}"/>
        <meta property="og:site_name" content="var ya;"/>
        <meta property="og:type" content="{{documentType}}"/>
        <meta property="article:author" content="https://www.facebook.com/toivonens"/>
    </head>
    <body class="page">
        <div id='contents'>{{contents}}</div>

        <!-- assets-body -->
    </body>
</html>

