.article__date
{
    color: #666;
    font-size: 0.8em;
    text-align: right;
}

.article__tip
{
    color: #666;
    font-size: 0.8em;
}

.article__meta
{
    margin: 1em 0;
    font-size: 0.8em;
}
