/*
Atoms

Styleguide 1

styleguide:ignore:start

@import url("logo/logo.css"); // 1.1
@import url("text/text.css"); // 1.2
@import url("link/link.css"); // 1.3
@import url("languages/languages.css"); // 1.4
@import url("social-ico/social-ico.css"); // 1.5
@import url("share/share.css"); // 1.6

styleguide:ignore:end
*/

/*
Main blocks

Styleguide 2

styleguide:ignore:start

@import url("header/header.css"); // 2.1
@import url("footer/footer.css"); // 2.2
@import url("box/box.css"); // 2.3

styleguide:ignore:end
*/

/*
Content blocks

Styleguide 3

styleguide:ignore:start

@import url("article/article.css"); // 3.1
@import url("comments/comments.css"); // 3.2
@import url("related/related.css"); // 3.3
@import url("articles-list/articles-list.css"); // 3.4
@import url("recent-posts/recent-posts.css"); // 3.5

styleguide:ignore:end
*/

/*
Side blocks

Styleguide 4

styleguide:ignore:start

@import url("sidebar/sidebar.css"); // 4.1
@import url("menu/menu.css"); // 4.2
@import url("github/github.css"); // 4.3
@import url("prompting/prompting.css"); // 4.4

styleguide:ignore:end
*/

/*
Fun things

Styleguide 5

styleguide:ignore:start

@import url("candies/candies.css"); // 5.1

styleguide:ignore:end
*/
