.posts-list
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.posts-list__item
{
    margin: 0 0 2em;
}

.post-list__title
{
    margin: 0;
    font-size: 1.4em;
    font-weight: 300;
}

.post-list__subtitle
{
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
}

.post-list__meta
{
    font-size: 0.8em;
}
