.posts-list
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.posts-list__item
{
    margin: 0 0 2em;
}

.posts-list__link
{
    display: block;
    font-size: 1.4em;
}

.post-list__meta
{
    font-size: 0.8em;
}
