$color__main--bright: green;

$color__second--middle: #f9f9f9;

@define-extend colorBox {
  width: 100%;
  height: 50px;
}

.color {

  &__main {
    &--bright {
      @extend colorBox;
      background: $color__main--bright;
    }
  }

  &__second {
    &--middle {
      @extend colorBox;
      background: $color__second--middle;
    }
  }

}
